@font-face {
  font-family: PrimaryFont;
  src: url("../Fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2")
    format("woff2");
}
@font-face {
  font-family: SecendFont;
  src: url("../Fonts/u-4i0qWljRw-PfU81xCKCpdpbgZJl6Xvqdns.woff2")
    format("woff2");
}
